<h1>New bookmark</h1>

<% form_for(@bookmark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :uri %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.label :originaluri %><br />
    <%= f.text_field :originaluri %>
  </p>
  <p>
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', bookmarks_path %>
